@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "kalam";
  
}

body {
  
  overflow-x:hidden;

}


/********************************************************************************
                                Header
  *******************************************************************************/

   
      .titulo{
  display: block;
  position: relative;
  background-color: #E24301;
  color: white;
   text-align: center;
  font-size: 100px;
  left: -1px;
  width: 100vw;
 top:-75vh;
 z-index: 1;
}

h2{
  display: block;
  position: relative;
  background-color: #E24301;
  color: white;
  width: 50vw;
  left: 25vw;
  text-align: center;
  top: -74vh;
  font-size: 55px;
  border-radius: 10px;

}



header{
    top: 0px;
    width: 100vw;
    height: 100vh;
  
}


.portada{
  position: relative;
  top:17vh;
  width: 100vw;
  height: 90vh;
 
  background-image: url("../assets/imag/design1_image2.jpg");
 background-size: 100% 100%;
 border-radius: 20px;
  z-index: -10;  


}


nav {
position:fixed;
width: 100%;
height:13.5%;
top:0;
left:0;
z-index: 10;
display: flex;
justify-content:space-around;
align-items: center;
background-color: white;
}

nav ul  {
  list-style: none;
  display: flex;
  margin-right: 120px;
  margin-top: 60px;
    
}
nav ul li:not(:last-child){
  margin-right: 50px;
  
 
}

nav ul li{
  list-style-type: none; 
  margin-left: 10px;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  font-size: 30px;
  left: 15vw;
  top:-2vh ;
  font-weight: 700;
  color: black;
  
 
}

.logo {
  position: absolute;
  height: 16vh;
  width: 10vw;
  z-index: 30;
  left: 0vw;
  top: -1.6vh;
  background-image: url("../assets/imag/Logo-Mighty-ducks-01.png");
  background-size: 100% 100%;
 
}

.active{
  color:yellowgreen;
  text-decoration: none;
  
}


/********************************************************************************
                                main
  *******************************************************************************/

  main img {
  display: none;
}


main{
  height: 50vh;
}

article h3{
  font-size: 45px;
  text-align: center;
}

article p {
  font-size: 40px;
  text-align: center;
  }

  .articulo{
    height: 15vh;
    width:80vw ;
    margin-bottom:10px ;
    margin-bottom: 10px;
    left: 10vw;
    margin-top:60px;
  }

  .parrafo-contact {
    position: relative;
    display: block;
    left: 30vw;
    padding-top: 60px;
    padding-bottom: 0;
    width: 63vw;
    top: -82vh;
    z-index: 2
  }
  
  .parrafo-contact p {
    font-size: 40px;
  }
  p a{
    font-size: 40px;
    top: 1px;
    right: 20px;
    text-decoration:underline;
    color: blue;
   
  }


  .container-titulo-rules{
  
    position:relative;
    top: -135vh;
    margin-left: 15vw;
    margin-right: 15vw;
    width: 80 vw;
    height: 100vh;
    font-size: 40px;
    left: 2vw;
   
    
  }
  
  
  .titulo-Principal{
      text-align: center;
     font-size: 45px;
     font-weight: 700;
    
    
    }
    
    
    
    .titulo-secundario{
      font-size: 45px;
      font-weight: 700;
     }
    
     dd{
       margin:50px 0px ;
     }
    
     dl{
      margin:50px 0px ;
     }
    
    .sangria{
      text-indent: 3vw;
     }
    
     #sangria-especial{
     text-align: center;
      margin: 0px;
     
    }

    
   
    
    .lista-letras {
      list-style-type: lower-alpha;
    
    }
    
    dd ol li dl dt {
      font-weight: 700;
    } 
    ul {
      text-indent: 0;
      } 
      
    
    ul li{
      list-style-type: circle;
      list-style-position: inside;
      margin-left: 5vw;
    }


span {
   font-weight: 700;

}

li p{
  margin-bottom: 40px;
}

.conteiner-article{
  position: relative;
  width: 60vw;
  height: 45vh;
  top: -58vh;
  left:20vw ;
  background-color: white;
  opacity: 0.5;
  border-radius: 20px;

}


.conteiner-rules{
  position: relative;
  width: 80vw;
  height: 72vh;
  top: -58vh;
  left:10vw ;
  background-color: white;
  opacity: 0.5;
  border-radius: 20px;

}

.contenedor-article{
  position: relative;
  width: 80vw;
  height: 72vh;
  top: -58vh;
  left:10vw ;
  background-color: white;
  opacity: 0.5;
  border-radius: 20px;

}

.article-index{
  position: relative;
  top: -100vh; ;
}

.article-about{
  position: relative;
  top: -130vh;
  width:70vw ; 
  left: 15vw;

}

.conteiner-contact{
  position: relative;
  width: 50vw;
  height: 20vh;
  top: -58vh;
  left:25vw ;
  background-color: white;
  opacity: 0.5;
  border-radius: 20px;

}

.section-game-information{
position: relative;
 width: 80vw;
 height: 5vh;
 left: 10vw;


}
.section-game-information h2{
 font-size: 20px;
}

.list-information{
  font-size: 30px;
  text-decoration: underline;
}

.list-information li::marker{
  content:'* ' ;
  align-content: center;
  justify-content: center;

  font-size: 40px;
  
}

table{
 width: 80vw;
 height: 40vh; 
 font-size: 35px;
 border:2px solid blue ;

}
table{
  position: relative;
  box-shadow: 25px 25px ;
  top: -135vh;
  left: -3vw;
}

table thead tr th{
  border: 2px solid black;
  background-color: #E24301;
  text-align: start;
  padding-left: 10px ;
  padding-top: 10px;

   
}
table tbody tr td{
  border: 1px solid green;
  padding-left: 10px;


}

table tbody tr:nth-child(odd){
 background-color: lightcyan;


}
table tbody tr:nth-child(even){
  background-color: lightblue;
 
 
 }

.mes-date-padding{
 text-align:center;
 padding-right: 40px;
 background-color: #FEE3B4;

}

caption{
  font-size: 60px;
}
caption h3{
text-align: center;

}

caption h4{
  text-align: start;
  font-size: 50px;
  font-weight: 500;
}

caption ul {
  text-align: start;
  text-indent: -9%;
}

.conteiner-section{
  position: relative;
  width: 85vw;
  height: 80vh;
  top: -58vh;
  left:5vw ;
  background-color: white;
  opacity: 0.5;
  border-radius: 20px;

  
}

.container-game-information{
  position: relative;
  width: 54vw;
  height: 40vh;
  top: -132vh;
  font-size: 35px;
  left: -2vw;

}
.container-game-information h3{
 margin-bottom: 20px; 
}

.second-paragraph{
  margin-top: 50px;

}


.container-game-information h3 span{
  font-weight: 100; 
}

.container-datos-contacto{
  width: 80vw;
  height: 10vh;
  left:30vw ;
  display: flex;
 

}

.datos-contaco {
  display: flex;
  margin: 0;
 

}

.datos-contaco li{
  position: relative;
  list-style: none;
  text-indent: -90px;
  
}
.datos-contaco li:first-child{
  left:0vw ;
   
 }

.datos-contaco li:last-child{
 left:15vw ;
  
}


.container-map{
  position: relative;
  display: flex;
  justify-content: end;
  height:48vh;
  width:50vw ;
  top:-57vh;
  left:25vw ;
  margin-right: 20vw;
  padding-top: 10px;
  padding-right: 10px;
  
}
.conteiner-location-games{
  position: absolute;
  display: flex;
  justify-content: end;
  height:48vh;
  width:50vw ;
  top:43vh;
  left:25vw ;
  background-color: white;
  opacity: .6;
  z-index: -2;
  border-radius: 10px;
  
}

label{ 
font-size: 25px;
font-weight: 700;  
height: 5vh;
padding-right: 10px;
}

select{
  
  font-size: 22px;
  border-radius: 20px;
}


.map-none{
  display: none;
}



#map-Katz{
  display: none;
}


#map-greenbay{
  display: none;
}
#map-Howar{
  display: none;
}
#map-Marjorie{
  display: none;
}
#map-north{
  display: none;
}
#map-south{
  display: none;
}

form{
  position: relative;
  top:-29vw ;
  left:20vh ;
  width: 80vw;
  height: 30vh;
  color:#E24301;
}

fieldset{
  width: 50vw;
  height: 30vh;
}
label{
 margin: 50px 20px; 
}

#lname, #fname{
  width:20vw ;
}

#saddress{
  width: 79.3%;
}

 #city{
 width:28.25vw ;
}

#zcode{
  width:17.5vw ;
  
}

#lzcode{
  margin-left: 6vw;
}

#gender{
  padding: 0%;
  margin: 10%;
  left:2vw ;
}

#female, #male{
 padding:0%;
 margin:0%;
 width: 3vw;
 height: 3vh;
 margin-top: 25px;
}


#idlgrade{
  padding: 0%;
  margin: 1%;
  left:2vw ;
}


#lfemale, #lmale{
  
   padding:0%;
   margin:0%;
   padding-right:10px;
   
   width: 2vw;
   height: 2vh;
  }

  #bdate{
    width: 20vw;
  }

  #idlgrade{
    position: relative;
    display: flex;
    flex-direction:row ;
    align-items: center;
    margin: 0px;
    padding: 0%;
    top: 0vh;
    height: 10vh;
    width: 68vw;
    left: 1vw;

  
  
  }


.grade-space{
  padding: 0%;
  margin: 0%;
  width: 3vw;
  height: 3vh;
}


#preschool{
  margin-top: -10px;
  margin-left: 20px;
}

label.lgrade{
   padding:0%;
   padding-top: -10px ; 
  color: #E24301;
  vertical-align:super;
  font-size:25.5px ;
}

label.lgrade{
  margin: 0%;
}



label#lpreschool{
 margin:0px 20px 0px -10px;
 font-size: 35px;
 
}

.fcolegio{
  font-size:30px;
  font-weight: 700;
  height: 30vh;
  border: 3px solid blue;

}


.colegios{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2px;
  width: 50vw;
  height: 20vh;
  margin-left:1% ;
  
}
.lcolegio{
  width: 20vw;
  margin: 0%; 
}
.ltitulo{
  width: 100%;
  padding: 0%;
  margin: 0%;
}
#ccolegio{
  padding: 0%;
  margin: 0%;
}


.fposition{
  font-size:30px;
  font-weight: 700;
  height: 18vh;
  border: 3px solid blue;

}

.position{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2px;
  width: 20vw;
  height: 10vh;
  border: 2px solid green;
  
}
.lposition{
  width: 5w;
  margin: 0%; 
  padding-right:2VW ;
  padding-left: 1VW;
 
}


.funiform-size{
  font-size:30px;
  font-weight: 700;
  height: 28vh;
  border: 3px solid blue;

}

.uniform-size{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2px;
  width: 38vw;
  height: 20vh;
  border: 2px solid green;
  
}
.luniform-size{
  width: 45%;
  margin: 0%;
  padding: 0%;
 
}


.f{
  font-size:30px;
  font-weight: 700;
  height: 28vh;
  border: 3px solid blue;

}

.uniform-size{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2px;
  width: 38vw;
  height: 20vh;
  border: 2px solid green;
  
}
.luniform-size{
  width: 45%;
  margin: 0%;
  padding: 0%;
 
}


  /* 

#lfirst, #lsecond, #lthird, #lfourth, #lfifth{
  vertical-align: super;
  padding-top:8px;
  padding:0% 0;
  left: 40vw;
  color: #E24301;
 
  padding:0px 10px 0px 0px ;
}

#first,#second{
    padding:0px 10px 0px 0px ;
}
  .grade-space{
    padding:0%;
    margin:0%;
    width: 3vw;
    height: 3vh;
    margin-top: 25px;
  }
 */

