@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "kalam", sans-serif;
}


/********************************************************************************
                                Header
  *******************************************************************************/



  header {
    position: relative;
    width: 95vw;
    height: 50vh;
    margin: 20px 20px;
    left:2vw ;   
  }

  .portada {
    position: absolute;  
    top:85px;
    height:100%;
    width:100%;
    object-fit: cover;
    background-size:100% 100%;
    background-image: url("../assets/imag/design1_image2.jpg");
    opacity: 0.9;

  } 

  .active{
    background-color:seagreen;
  }

  .active{
    color: black;
    text-decoration: none;
  }
  
  h2{
    position: relative;
    z-index: 23;
    background-color: black;
    color: white;
    font-size: 60px;
    top: 55.5vh;
    text-align: center;
  }

 
header a {
    
    position: relative;
    padding: 2px 40px;
    font-size: 30px;
    margin:10px;
    color: white;
    z-index: 1;
    border: 2px solid black ;
    box-shadow: 5px 8px 5px 0px black ;
    text-decoration: none;
    font:bold;
    background-color:royalblue;
  }

 
.titulo{
  position: absolute;
   top: -5px;
  font-size: 73px;
  margin: -10px 10px;  
  
  
}

img {
  width: 100%;
  max-height: 100%;
}

.logo {
  position: absolute;
  height: 15vh;
  width: 10vw;
  z-index: 30;
  left: 1vw;
  top: 65vh;
  border:2px solid black;
  background-image: url("../assets/imag/Logo-Mighty-ducks-01.png");
  background-size: 100% 100%;
  background-color: bisque;
 
}

nav {position: absolute;
 width: 80%;
 height: 15%;
 top: 2.5vh;
  display: flex;


}

nav ul{
list-style: none;
display: flex;
margin-top: 0px;


}

nav ul li{
  margin-left: 0%;
margin-right: 0;

}

nav ul li a {
  text-decoration: none;
  font-size: 40px;
  left: 5.5vw; 
  top: 1vh;
  left: 47vw;
     
   
}

.active{
  color: black;
  text-decoration: none;
  
}

/********************************************************************************
                                main
  *******************************************************************************/



  article {
    position: relative;
    left: 350px;
    padding-top: 20px;
    padding-bottom: 0;
    width: 63vw;
    bottom: 100%;
    top: -59%;
    z-index: 10;
  }
  
  article h3 {
    font-size: 45px;
  }
  
  article p {
    font-size: 40px;
    font: bold;
    text-indent: 50px;
  }
  
  main figure img {
    display: none;
  }
  
  
  main {
    position: relative;
    top: 410px;
    width: 80vw;
    height: 30vh;
    margin: 50px 150px 0px 200px;
  }
  

  
  p {
    font-size: 40px;
    font: bold;
    
  }
  p a {
    font-size: 40px;
    font: bold;
    display: inline;
  }
  
  .parrafo-contact {
    position: relative;
    display: block;
    left: 250px;
    padding-top: 30px;
    padding-bottom: 0;
    width: 63vw;
    bottom: 100%;
    top: -55%;
    z-index: 10;
  }


.container-titulo-rules{
  
  position:relative;
  top: -15vh;
  margin-left: 15vw;
  margin-right: 15vw;
  width: 80 vw;
  height: 100vh;
  font-size: 40px;
  left: 2vw;
 
  
}


.titulo-Principal{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   font-size: 45px;
   font-weight: 700;
  
  
  }
  
  
  
  .titulo-secundario{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    font-weight: 700;
   }
  
   dd{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:50px 0px ;
   }
  
   dl{
    margin:50px 0px ;
   }
  
  .sangria{
    text-indent: 3vw;
   }
  
   #sangria-especial{
    text-indent: 6vw;
    margin: 0px;
   
  
  }
  li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .lista-letras {
    list-style-type: lower-alpha;
  
  }
  
  dd ol li dl dt {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
  } 
  ul {
    text-indent: 0;
    } 
    
  
  ul li{
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 5vw;
  }
  

span {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;

}

li p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 margin-bottom: 40px;
}

  
  
  

  