@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "kalam", sans-serif;
}


/********************************************************************************
                                Header
  *******************************************************************************/



  header {
    position: relative;
    width: 80vw;
    height: 50vh;
    margin: 20px 150px 20px 150px;   
  }

  .portada {
    position: absolute;  
    top:85px;
    height:100%;
    width:100%;
    object-fit: cover;
    background-size:100% 100%;
    background-image: url("../assets/imag/design1_image2.jpg");
    opacity: 0.9;

  } 

  .active{
    background-color:seagreen;
  }

  .active{
    color: black;
    text-decoration: none;
  }
  
  h2{
    position: relative;
    z-index: 23;
    background-color: black;
    color: white;
    font-size: 40px;
    top: 59vh;
  }
  .portada h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    background-color: black;
    top:489px;
    
    
  }


header a {
    
    position: relative;
    padding: 2px 40px;
    font-size: 30px;
    margin:10px;
    color: white;
    z-index: 1;
    border: 2px solid black ;
    box-shadow: 5px 8px 5px 0px black ;
    text-decoration: none;
    font:bold;
    background-color:royalblue;
  }

 
.titulo{
  position: absolute;
   top: -5px;
  font-size: 73px;
  margin: -10px 10px;  
  
  
}

img {
  width: 100%;
  max-height: 100%;
}

.logo {
  position: absolute;
  height: 160px;
  width: 180px;
  z-index: 3;
  left: 1%;
  top: 135%;
  background-color: lightslategrey;
  
}

.nombreCorto::after{
    content: "About";
}

nav {
  position: absolute;
  top:65px;
  left:918px;
}

/********************************************************************************
                                main
  *******************************************************************************/



  article {
    position: relative;
    left: 250px;
    padding-top: 20px;
    padding-bottom: 0;
    width: 63vw;
    bottom: 100%;
    top: -105%;
    z-index: 10;
  }
  
  article h3 {
    font-size: 35px;
  }
  
  article p {
    font-size: 20px;
    font: bold;
    text-indent: 50px;
  }
  
  main figure img {
    display: none;
  }
  
  
  main {
    position: relative;
    top: 410px;
    width: 80vw;
    height: 30vh;
    margin: 50px 150px 0px 200px;
  }
  

  
  p {
    font-size: 20px;
    font: bold;
    
  }
  p a {
    font-size: 20px;
    font: bold;
    display: inline;
  }
  
  .parrafo-contact {
    position: relative;
    display: block;
    left: 250px;
    padding-top: 30px;
    padding-bottom: 0;
    width: 63vw;
    bottom: 100%;
    top: -110%;
    z-index: 10;
  }
  