@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "kalam", sans-serif;
}

body {
  
  overflow-x:hidden
}

/********************************************************************************
                                Header
  *******************************************************************************/

   
      .titulo{
  display: block;
  position: relative;
  background-color: #E24301;
  color: white;
   text-align: center;
  font-size: 100px;
  left: -1px;
  width: 100vw;
 top:-75vh;
 z-index: 1;
}

h2{
  display: block;
  position: relative;
  background-color: #E24301;
  color: white;
  width: 50vw;
  left: 25vw;
  text-align: center;
  top: -74vh;
  font-size: 55px;
  border-radius: 10px;

}



header{
    top: 0px;
    width: 100vw;
    height: 100vh;
  
}


.portada{
  position: relative;
  top:17vh;
  width: 100vw;
  height: 90vh;
 
  background-image: url("../assets/imag/design1_image2.jpg");
 background-size: 100% 100%;
 border-radius: 20px;
  z-index: -10;  


}


nav {
position:fixed;
width: 100%;
height:13.5%;
top:0;
left:0;
z-index: 10;
display: flex;
justify-content:space-around;
align-items: center;
background-color: white;
}

nav ul  {
  list-style: none;
  display: flex;
  margin-right: 0px;
  margin-top: 60px;
    
}
nav ul li:not(:last-child){
  margin-right: 50px;
 
}

nav ul li{
  list-style-type: none;
  margin-right: 10px; 
}

nav ul li a {
  position: relative;
  text-decoration: none;
  font-size: 50px;
  left: 15vw;
  top:-2vh ;
  font-weight: 700;
  color: black;
  
 
}

.logo {
  position: absolute;
  height: 16vh;
  width: 10vw;
  z-index: 30;
  left: 0vw;
  top: -1.6vh;
  background-image: url("../assets/imag/Logo-Mighty-ducks-01.png");
  background-size: 100% 100%;
 
}

.active{
  color:yellowgreen;
  text-decoration: none;
  
}


/********************************************************************************
                                main
  *******************************************************************************/

  main img {
  display: none;
}

article h3{
  font-size: 45px;
  text-align: center;
}

article p {
  font-size: 40px;
  text-align: center;
  }

  .articulo{
    height: 15vh;
    width:80vw ;
    margin-bottom:10px ;
    margin-bottom: 10px;
    left: 10vw;
    margin-top:60px;
  }

  .parrafo-contact {
    position: relative;
    display: block;
    left: 35vw;
    padding-top: 30px;
    padding-bottom: 0;
    width: 63vw;
    top: -82vh;
    z-index: 2
  }
  
  .parrafo-contact p {
    font-size: 40px;
  }
  p a{
    font-size: 40px;
    top: 1px;
    right: 20px;
    text-decoration:underline;
    color: blue;
   
  }


  .container-titulo-rules{
  
    position:relative;
    top: -135vh;
    margin-left: 15vw;
    margin-right: 15vw;
    width: 80 vw;
    height: 100vh;
    font-size: 40px;
    left: 2vw;
   
    
  }
  
  
  .titulo-Principal{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center;
     font-size: 45px;
     font-weight: 700;
    
    
    }
    
    
    
    .titulo-secundario{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 45px;
      font-weight: 700;
     }
    
     dd{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin:50px 0px ;
     }
    
     dl{
      margin:50px 0px ;
     }
    
    .sangria{
      text-indent: 3vw;
     }
    
     #sangria-especial{
      /* text-indent: 14vw; */
      text-align: center;
      margin: 0px;
     
    }

    
    li{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .lista-letras {
      list-style-type: lower-alpha;
    
    }
    
    dd ol li dl dt {
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 700;
    } 
    ul {
      text-indent: 0;
      } 
      
    
    ul li{
      list-style-type: circle;
      list-style-position: inside;
      margin-left: 5vw;
    }


span {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;

}

li p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 margin-bottom: 40px;
}

.conteiner-article{
  position: relative;
  width: 50vw;
  height: 40vh;
  top: -65vh;
  left:25vw ;
  background-color: white;
  opacity: 0.5;
  border-radius: 20px;

}


.conteiner-rules{
  position: relative;
  width: 80vw;
  height: 72vh;
  top: -65vh;
  left:10vw ;
  background-color: white;
  opacity: 0.5;
  border-radius: 20px;

}

.contenedor-article{
  position: relative;
  width: 80vw;
  height: 72vh;
  top: -65vh;
  left:10vw ;
  background-color: white;
  opacity: 0.5;
  border-radius: 20px;

}

.article-index{
  position: relative;
  top: -100vh; ;
}

.article-about{
  position: relative;
  top: -130vh;
  width:70vw ; 
  left: 15vw;

}

.conteiner-contact{
  position: relative;
  width: 50vw;
  height: 20vh;
  top: -65vh;
  left:25vw ;
  background-color: white;
  opacity: 0.5;
  border-radius: 20px;

}

.section-game-information{
  position: relative;
 width: 80vw;
 height: 100vh;
 left: 10vw;


}
.section-game-information h2{
 font-size: 20px;
}

.list-information{
  font-size: 30px;
  text-decoration: underline;
}

.list-information li::marker{
  content:'*  ' ;
  align-content: center;
  justify-content: center;

  font-size: 40px;
  
}

table{
 width: 60vw;
 height: 40vh; 
 font-size: 45px;
 border:2px solid blue ;

}
table{
  position: relative;
  box-shadow: 25px 25px ;
  top: -145vh;
  left: 10vw;
}

table thead tr th{
  border: 2px solid black;
  background-color: #E24301;
  text-align: start;
  padding-left: 10px ;
  padding-top: 10px;

   
}
table tbody tr td{
  border: 1px solid green;
  padding-left: 10px;


}

table tbody tr:nth-child(odd){
 background-color: lightcyan;


}
table tbody tr:nth-child(even){
  background-color: lightblue;
 
 
 }

.mes-date-padding{
 text-align:center;
 padding-right: 40px;
 background-color: #FEE3B4;

}

caption{
  font-size: 70px;
}
caption h3{
text-align: center;

}

caption h4{
  text-align: start;
  font-size: 50px;
  font-weight: 500;
}

caption ul {
  text-align: start;
  text-indent: -9%;
}

.conteiner-section{
  position: relative;
  width: 80vw;
  height: 80vh;
  top: -65vh;
  left:10vw ;
  background-color: white;
  opacity: 0.5;
  border-radius: 20px;

  
}

